.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}

.pagination a {
    color: var(--paragraph-text-color);
    font-size: 18px;
    font-weight: 300;
    font-family: var(--paragraph-font);
    transition: all ease .3s;
    border: 1px solid var(--paragraph-text-color);
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a.active {
    background-color: var(--paragraph-text-color);
    color: var(--white);
}

.pagination a.dissabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.pagination a.active svg path {
    stroke: var(--white);
}

.pagination a:hover:not(.active) {
    background-color: var(--paragraph-text-color);
    color: var(--white);
}

.pagination a:hover:not(.active) svg path {
    stroke: var(--white);
}

.pagination a.icon-reverse svg {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1200px) {

    /* pagination css start */
    .pagination {
        gap: 10px;
    }

    /* pagination css end */
}

@media only screen and (max-width: 575px) {

    /* pagination css start */
    .pagination a {
        font-size: 16px;
        font-weight: 300;
        width: 40px;
        height: 40px;
    }

    /* pagination css end */
}